 :root {
    background-color: salmon;
    color: black;
    font-size: 60%;
 }

 * {
   margin: 0;
   padding:0;
   box-sizing: border-box;
   font-family: 'Times New Roman', Times, serif;
 }

 .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    text-align: center;
    cursor: pointer;
}

.main {
    display:inline-block;
    width: 100%;
    padding-top: 5%;
    font-size: 16px;
    text-align: center;
}

#startButton, #button1, #button2, #button3, #button4 {
    width:25%;
    cursor: pointer;
}

footer {
    text-align: center;
    padding-top: 10%;
}

.question-box {
    display: flex;
    width: 100%;
    padding: 5%;
    flex-wrap: wrap;
    padding-top: 5%;
    justify-content: center;

}

.answer {
    cursor: pointer;
}


#score-button {
    cursor: pointer;
}





/* Media query for answer buttons to adjust properly.
    @375px, 768px */